<section class="section-about">
    <div class="container">
    <p class="section-about__pre-title">TRADITION AND LOVE</p>
    <h2 class="section-about__title">HOW IT'S MADE?</h2>
    <div class="section-about__position">
    <div class="section-about__picture">
    <picture>
        <source srcset="
                                                            ./images/mob/milk-cow-mobile1x.png   1x,
                                                            ./images/mob/milk-cow-mobile2x.png 2x
                                                          " media="(max-width: 767px)" />
        <source srcset="
                                                            ./images/tab/milk-cow-tablet1x.png   1x,
                                                            ./images/tab/milk-cow-tablet2x.png 2x
                                                          " media="(max-width: 1199px)" />
        <source srcset="
                                                            ./images/desk/milk-cow-desktop1x.png   1x,
                                                            ./images/desk/milk-cow-desktop2x.png 2x
                                                          " media="(min-width: 1200px)" />
        <img src="./images/desk/milk-cow-desktop2x.png" alt="milk-cow" />
    </picture>
    </div>
    <div class="section-about__text">
    <ul class="list">
        <li>
            <p class="section-about__list--black">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>
        </li>
        <li>
            <p class="section-about__list">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            </p>
        </li>
        <li>
            <p class="section-about__list">Aliquam erat volutpat. Aenean accumsan.</p>
        </li>
    </ul>
    <button class="section-about__button" type="button">Read more<svg class="section-about__icon" width="9" height=18"><use href="./images/icons.svg#icon-read-more"></use></svg></button>
</div>
</div>
</div>
</section>