<section class="contacts">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="container">
        <ul class="contacts-list">
            <li class="contacts-list__card">
                <p class="contacts-list__text contacts-list__text--place contacts-list__text--place-first">Cafe</p>
                <p class="contacts-list__text">Chicago</p>
                <p class="contacts-list__text--description">
                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <div class="contacts-list__item--first">
                    <ul>
                    <li>
                    <p class="contacts-list__text">Monday - Friday</p>
                    <p class="contacts-list__text contacts-list__text--time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                    <p class="contacts-list__text">Saturday - Sunday</p>
                    <p class="contacts-list__text contacts-list__text--time">08:00 AM - 16:00 PM</p>
                    </li>
                    </ul>
                </div>
                <div class="contacts-list__item--second">
                    <address class="contacts-address">
                        <a href="tel:+610383766284" class="contacts-address__link"><span
                                class="contacts-list__text--description">+61(0) 383 766 284</span></a>
                        <a href="mailto:noreply@envato.com" class="contacts-address__link"><span
                                class="contacts-list__text--description">noreply@envato.com</span></a>
                    </address>
                </div>
            </li>
            <li class="contacts-list__card">
                <p class="contacts-list__text contacts-list__text--place contacts-list__text--place-second">Foodtruck</p>
                <p class="contacts-list__text">Los Angeles</p>
                <p class="contacts-list__text--description">
                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <div class="contacts-list__item--first">
                    <ul>
                    <li>
                    <p class="contacts-list__text">Monday - Friday</p>
                    <p class="contacts-list__text contacts-list__text--time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                    <p class="contacts-list__text">Saturday - Sunday</p>
                    <p class="contacts-list__text contacts-list__text--time">08:00 AM - 16:00 PM</p>
                    </li>
                    </ul>
                </div>
                <div class="contacts-list__item--second">
                    <address class="contacts-address">
                        <a href="tel:+610383766284" class="contacts-address__link"><span
                                class="contacts-list__text--description">+61(0) 383 766 284</span></a>
                        <a href="mailto:noreply@envato.com" class="contacts-address__link "><span
                                class="contacts-list__text--description">noreply@envato.com</span></a>
                    </address>
                </div>
            </li>
            <li class="contacts-list__card">
                <p class="contacts-list__text contacts-list__text--place contacts-list__text--place-first">Cafe</p>
                <p class="contacts-list__text">New York</p>
                <p  class="contacts-list__text--description">
                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <div class="contacts-list__item--first">
                    <ul>
                    <li>
                    <p class="contacts-list__text">Monday - Friday</p>
                    <p class="contacts-list__text contacts-list__text--time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                    <p class="contacts-list__text">Saturday - Sunday</p>    
                    <p class="contacts-list__text contacts-list__text--time">08:00 AM - 16:00 PM</p>
                    </p>
                    </li>
                    </ul>
                </div>
                <div class="contacts-list__item--second">
                    <address class="contacts-address">
                        <a href="tel:+610383766284" class="contacts-address__link"><span
                                class="contacts-list__text--description">+61(0) 383 766 284</span></a>
                        <a href="mailto:noreply@envato.com" class="contacts-address__link"><span
                                class="contacts-list__text--description">noreply@envato.com</span></a>
                    </address>
                </div>
            </li>
        </ul>
        <div class="contacts-buttons">
            <button type="button" class="btn btn_color_dark btn_color_dark--contacts">
                Our Locations >
            </button>
            <button type="button" class="btn btn_color_light btn_color_light--contacts">
                Franchise >
            </button>
        </div>
        </div>
    </div>
</section>