
<section class="customer-section">
<div class="swiper mySwiper container">
    <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
            <div class="swiper-slide__container">
                <img src="./images/customer-first.png" alt="">
                <div class="swiper-slide__block">
                    <p class="swiper-slide__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <div class="swiper-slide__bottom">
                    <div class="point"></div>
                    <div class="point-set">
                    <p class="swiper-slide__second-text">Emily, Los Angeles</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide__container">
                <img src="./images/customer-second.png" alt="">
                <div class="swiper-slide__block">
                    <p class="swiper-slide__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <div class="swiper-slide__bottom">
                    <div class="point"></div>
                    <div class="point-set">
                    <p class="swiper-slide__second-text">Mya, New York</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide__container">
                <img src="./images/customer-third.png" alt="">
                <div class="swiper-slide__block">
                    <p class="swiper-slide__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <div class="swiper-slide__bottom">
                    <div class="point"></div>
                    <div class="point-set">
                    <p class="swiper-slide__second-text">Monika, Miamy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
</section>