<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container">
    <ul class="grid list">
      <li class="stamp stamp1"></li>
      <li class="stamp stamp2"></li>
     
      <li class="stamp stamp3"></li>
      <li class="stamp stamp4"></li>
      <li class="grid__item grid__item1">
        <img
          class="grid__image"
          src="./images/gallery/gallery-img-1.jpg"
          alt="ice cream "
        />
      </li>
      <li class="grid__item grid__item2">
        <img
          class="grid__image"
          src="./images/gallery/gallery-img-2.jpg"
          alt="Ice cream"
        />
      </li>
      <li class="grid__item grid__item3">
        <img
          class="grid__image"
          src="./images/gallery/gallery-img-3.jpg"
          alt="ice cream"
        />
      </li>
      <li class="grid__item grid__item4">
        <img
          class="grid__image"
          src="./images/gallery/gallery-img-4.jpg"
          alt="ice cream"
        />
      </li>
      <li class="grid__item grid__item5">
        <img
          class="grid__image"
          src="./images/gallery/gallery-img-5.jpg"
          alt="ice cream"
        />
      </li>
      <li class="grid__item grid__item6">
        <img
          class="grid__image"
          src="./images/gallery/gallery-img-6.jpg"
          alt="Ice cream"
        />
      </li>
      <li class="grid__item grid__item7">
        <img
          class="grid__image"
          src="./images/gallery/gallery-img-7.jpg"
          alt="Ice cream"
        />
      </li>
      <li class="grid__item grid__item8">
        <img
          class="grid__image"
          src="./images/gallery/gallery-img-8.jpg"
          alt="ice cream"
        />
      </li>
      <li class="grid__item grid__item9">
        <img
          class="grid__image"
          src="./images/gallery/gallery-img-9.jpg"
          alt="Ice cream"
        />
      </li>
      <li class="grid__item grid__item10">
        <img
          class="grid__image"
          src="./images/gallery/gallery-img-10.jpg"
          alt="ice cream"
        />
      </li>
    </ul>
  </div>
</section>
