<section class="gallery">
  <div class="gallery-img">
    <picture>
      <source
        srcset="
          ./images/desk/home-pic5_1.jpg 1x,
          ./images/desk/home-pic5_1@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/tab/home-pic5_1.jpg 1x,
          ./images/tab/home-pic5_1@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/mob/home-pic5_1.jpg 1x,
          ./images/mob/home-pic5_1@2x.jpg 2x
        "
        media="(min-width: 320px)"
      />
      <img
        class="icecreams"
        src="./images/desk/home-pic5_1.jpg"
        alt="differents type of icecream"
      />
    </picture>
  </div>
</section>>