<header class="header">
    <!-- == HEADER == -->
    <div class="container header__container">
        <nav class="nav">
            <a href="" class="link nav__logo">
                <img src="./images/logo-min.png" alt="ICECREAM"> 
            </a>
            <ul class="list nav__list">
                <li class="nav__item">
                    <a class="link nav__link current"  href="">Home</a>
                </li>
                <li class="nav__item">
                    <a class="link nav__link" href="">About us</a>
                </li>
                <li class="nav__item">
                    <a class="link nav__link" href="">How it’s made?</a>
                </li>
                <li class="nav__item">
                    <a class="link nav__link" href="">Our products</a>
                </li>
                <li class="nav__item">
                    <a class="link nav__link" href="">Contact</a>
                </li>
            </ul> 
            <button type="button" class="btn--big header__btn--buy">Buy now
                <svg class="header__icon-forward" width="6" height="8">
                <use href="./images/icons.svg#icon-forward"></use>
                </svg>
            </button>
            <button type="button" class="open-menu-btn">
                <svg class="btn-open" width="20" height="20">
                <use href="./images/icons.svg#icon-burger"></use>
            </svg>
            </button>
        </nav> 
        <!-- == HERO == -->            
        <div class="header__title">
            <h1 class="header__title--wheit">ice cream made with
                <span class="header__title--red">passion
                </span>  
            </h1>
        </div> 
        <div class="header__btn--title">
            <button type="button" class="btn--smol header__btn--red">Products
            </button>
            <button type="button" class="btn--smol">How it’s made?        
            </button>
        </div> 
        <div class="header__ellipse--pink">
            <picture>
                <source 
                srcset="./images/desk/ellipse.png 1x"
                media="(min-width:1280px)"
                > 
                <source 
                srcset="./images/tab/ellipse.png 1x"
                media="(min-width:768px)"
                > 
                <source 
                srcset="./images/mob/ellipse.png 1x"
                media="(min-width:320px)"
                >
                <img src="./images/desk/ellipse.png" 
                alt="ellipse">
        </picture>
        </div> 
        <div class="header__statistics1">
            <p class="header__quantity">16</p>
            <p class="header__name">cafes</p>
        </div>
        <div class="header__statistics2">
            <p class="header__quantity">23</p>
            <p class="header__name">food trucks</p>
        </div> 
        <div class="header__ellipse_w1">
            <picture>
                <source 
                srcset="./images/desk/ellipse_w.png 1x"
                media="(min-width:1280px)"
                > 
                <source 
                srcset="./images/tab/ellipse_w.png 1x"
                media="(min-width:768px)"
                > 
                <img src="./images/desk/ellipse_w.png" 
                alt="ellipse_whait">
            </picture>
        </div>
        <div class="header__ellipse_w2">
            <picture>
                <source 
                srcset="./images/desk/ellipse_w.png 1x"
                media="(min-width:1280px)"
                > 
                <source 
                srcset="./images/tab/ellipse_w.png 1x"
                media="(min-width:768px)"
                > 
                <img src="./images/desk/ellipse_w.png" 
                alt="ellipse_whait">
            </picture>
        </div>
        <div class="header__bio-eco">
            <picture>
                <source 
                srcset="./images/desk/slider-pic5_1.png 1x,
                ./images/desk/slider-pic5_1@2x.png 2x"
                media="(min-width:1280px)"
                > 
                <source 
                srcset="./images/tab/slider-pic5_1.png 1x,
                ./images/tab/slider-pic5_1@2x.png 2x"
                media="(min-width:768px)"
                > 
                <img src="./images/desk/slider-pic5_1.png" 
                alt="jug of milk">
            </picture>
            <div class="header__content">
                <p class="header__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <a href="">
                    <picture>
                        <source 
                            srcset="./images/arrow-right_26.png 1x"
                            media="(min-width:1280px)"
                            > 
                            <source 
                            srcset="./images/arrow-right_18.png 1x"
                            media="(min-width:768px)"
                            > 
                        <img src="./images/arrow-right_26.png" 
                        alt="arrow-right">
                    </picture>
                    
                </a>             
            </div>            
        </div> 
        <div class="header__pic7">
            <picture>
                <source 
                srcset="./images/desk/slider-pic7_1.png 1x,
                ./images/desk/slider-pic7_1@2x.png 2x"
                media="(min-width:1280px)"
                > 
                <source 
                srcset="./images/tab/slider-pic7_1.png 1x,
                ./images/tab/slider-pic7_1@2x.png 2x"
                media="(min-width:768px)"
                > 
                <source 
                srcset="./images/mob/slider-pic7_1.png 1x,
                ./images/mob/slider-pic7_1@2x.png 2x"
                media="(min-width:320px)"
                >
                <img 
                src="./images/desk/slider-pic7_1.png" 
                alt="ice"> 
            </picture> 
        </div>  
        
        <div class="header__pic4">
            <picture>
                <source 
                srcset="./images/desk/slider-pic4_1.png 1x,
                ./images/desk/slider-pic4_1@2x.png 2x"
                media="(min-width:1280px)"
                > 
                <source 
                srcset="./images/tab/slider-pic4_1.png 1x,
                ./images/tab/slider-pic4_1@2x.png 2x"
                media="(min-width:768px)"
                > 
                <img src="./images/desk/slider-pic4_1.png" 
                alt="so_tasty">
            </picture>
        </div> 
    </div>
    <!-- == MOBILE-MENU == -->
    <div class="menu-container is-hidden">
        <button type="button" class="close-menu-btn">
            <svg class="btn-close" width="14" height="14">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <button type="button" class="btn--big menu-container__btn-buy ">Buy now
            <svg class="icon-forward" width="6" height="8">
            <use href="./images/icons.svg#icon-forward"></use>
        </svg>
        </button>
        <ul class="list menu-container__mobile-menu">
            <li class="menu-container__item">
                <a class="link menu-container__link current"  href="">Home</a>
            </li>
            <li class="menu-container__item">
                <a class="link menu-container__link" href="">About us</a>
            </li>
            <li class="menu-container__item">
                <a class="link menu-container__link" href="">How it’s made?</a>
            </li>
            <li class="menu-container__item">
                <a class="link menu-container__link" href="">Our products</a>
            </li>
            <li class="menu-container__item">
                <a class="link menu-container__link" href="">Contact</a>
            </li>
        </ul>             
    </div> 
</header>