<div class="backdrop is-hidden" data-modal-buy>
    <div class="modal">
        <p class="title-modal">Leave your details, we will call you back</p>
        <form class="modal-form">
            <label for="name" class="modal-label">Full name
            </label>
            <div class="modal-form-wrapper">
                <input type="text" name="user-name" id="name" class="modal-input">
            </div>

            <label for="tel" class="modal-label">Сontact phone number
            </label>
            <div class="modal-form-wrapper">
                <input type="tel" name="user-tel" id="tel" class="modal-input">
            </div>

            <label for="email" class="modal-label">Email
            </label>
            <div class="modal-form-wrapper">
                <input type="email" name="user-mail" id="email" class="modal-input">
            </div>

            <div class="modal-form-wrapper">
                <label for="comment" class="modal-label">Comment</label>
                <textarea namde="comment" id="comment" class="modal-comment" placeholder="Enter your comment"></textarea>
            </div>

            <button type="submit" class="modal-form-btn">Send</button>
        </form>

        <button class="vector" data-modal-buy-close>
            <svg class="icon-vector">
                <use href="./images/icons.svg#icon-Vector-svg"></use>
            </svg>
        </button>

    </div>
</div>

