.menu-container {
    position: absolute;
    top: 0;
    right: 0;
    width:250px;
    height: 100vh;
    background-color: var(--background-mob-menu);
    padding: 60px 21px;
    z-index:20;
    display: flex;
    flex-direction: column;
    &.is-hidden{
        visibility: hidden;
        pointer-events: none;
        opacity: 0;   
    }
}
.close-menu-btn{
    padding: 0;
    background-color: var(--header-background);
    position: absolute ;
    top: 23px;
    right: 28px;
}
.menu-container__btn-buy{
    justify-content: center;
}
.menu-container__item{
    margin-top: 23px;
    
}
.menu-container__link {
    font-weight:700;
    font-size: 14px;
    line-height: 1,3px;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.current{
    color: var(--main-title-color);
}