

.gallery {
    padding-top: 97px ;
    background: linear-gradient(to top, #ffffff 43%, #fff5f6 10.7%, );
    width: 100%;
}

.gallery-img {
    img {
        width: 320px;
        height: 122px;
    }
}