
.images-wrapper {
  background: linear-gradient(to top, #ffffff 55%, #fff5f6 10.7%, );
  padding-top: 140px;
  display: flex;
  justify-content: center;
  // padding-bottom: 123px;
  position: relative;
}

/* ---- grid ---- */

.gallery-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 121px;
  position: relative;

  & img:not(:last-child) {
    margin-bottom: 8px;
  }
}

.grid::after {
  content: '';
  display: block;
  clear: both;
}

.grid__item {
  overflow: hidden;

  margin-bottom: 10px;
  width: 120px;
  height: 120px;
  float: left;
  border-radius: 16px;
  // z-index: 0;
  grid-area: auto;
}

.grid__image {
  background-size: contain;
}

.grid__item1 {
  // width: 246px;
  grid-row: 1.5 / 1.5;
  grid-column: 1.5/ 1.5;
  background-size: cover;
}

.images-wrapper li:not(:last-child) {
  margin-right: 8px;
}

.images-wrapper-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.images-wrapper-list-four {
  margin-top: 45px;
}

@media screen and (max-width: 479px) {
  .images-wrapper-list {
    max-width: 287px;
    height: 100%;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .images-wrapper-list {
    max-width: 620px;
    height: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .images-wrapper-list {
    width: auto;
    height: 100%;
    padding-bottom: 121px;
  }
}
@media screen and (max-width: 1199px) {
  .images-wrapper-list {
    max-width: 1010px;
    height: 100%;
  }
}
